* {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  /*space-between is used for equal space b/w all div*/
  height: 5vh;
  /*space-between is used for equal space b/w all div*/
  align-items: center;
  padding: 0 10px;
}

.search {
  width: 40%;
}

.search-input {
  width: 100%;
}

.news-categories {
  width: 30%;
}

.categories-list {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  cursor: pointer;
}

.news-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  /* border: 2px solid black; */
  /* height: 100vh; */
}

.news-feed {
  border: 2px solid black;
  height: 500px;
  width: 350px;
}

.news-image {
  border: 2px solid blue;
  font-size: 100px;
  /* height: 25vh; */
}

.news-intro {
  border: 2px solid red;
  /* height: 20vh; */
}
