* {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 0 10px;
}

.search {
  width: 40%;
}

.search-input {
  width: 100%;
}

.news-categories {
  width: 30%;
}

.categories-list {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  cursor: pointer;
}
